/*
 * Copyright (c) 2025 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nuvoton/nct6694b.dtsi>
#include <nuvoton/nct/nct66/nct66-pinctrl.dtsi>

/ {
	model = "Nuvoton NCT6694B evaluation board";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,shell-uart = &uart1;
		zephyr,console = &uart1;
	};

	aliases {
		watchdog0 = &twd;
		rtc = &rtc;
		taf-flash = &ext_flash;
	};

	zephyr,user {
		/* adjust channel number according to enum adc_channel_en in adc_nct.c */
		/* Because VIN16, THR16, TD2P is the same pin, it must only select one type.
		 * Because VIN15, THR15, TD0P is the same pin, it must only select one type.
		 * Because VIN14, THR14, TD1P is the same pin, it must only select one type.
		 * Because VIN1, THR1, TD3P is the same pin, it must only select one type.
		 * Because VIN2, THR2, TD4P is the same pin, it must only select one type.
		 * Exsample : if you select channel 8(VIN16),
		 *            and you can't select channel 9(THR16) and channel 22(TD2P).
		 */
		io-channels = <&dsadc 17>, <&dsadc 18>;
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&cr_uart1_sin_gp14 &cr_uart1_sout_gp15>;
	pinctrl-names = "default";
};

&uart2 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&cr_uart2_sin_gp30 &cr_uart2_sout_gp31>;
	pinctrl-names = "default";
};

&peci0 {
	status = "okay";
	pinctrl-0 = <&peci0_gp97>;
	pinctrl-names = "default";
};

&dsadc {
	status = "okay";
	/* Pin D7 is shared by thermal signal VIN16, THR16, TD2P.
	 * Pin C7 is shared by thermal signal VIN15, THR15, TD1P.
	 * Pin A6 is shared by thermal signal VIN14, THR14, TD0P.
	 * Pin B6 is shared by thermal signal VIN1, THR1, TD3P.
	 * Pin C6 is shared by thermal signal VIN2, THR2, TD4P.
	 */
	pinctrl-0 = <&adc_vin7_gp86   /* VIN7 - C8 */
		     &adc_vin5_gp87   /* VIN5 - F7 */
		     &adc_vin16_gp91  /* VIN16/THR16/TD2P - D7 */
		     &adc_vin15_gp91  /* VIN15/THR15/TD1P - C7 */
		     &adc_vin14_gp92  /* VIN14/THR14/TD0P - A6 */
		     &adc_vin1_gp93   /* VIN1/THR1/TD3P - B6 */
		     &adc_vin2_gp94   /* VIN2/THR2/TD4P - C6 */
		     &adc_vin3_gp95>; /* VIN3 - D6 */
	pinctrl-names = "default";
};

&i2c1a {
	status = "okay";
	pinctrl-0 = <&i2c1a_scl_sda_gp60_61>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c3a {
	status = "okay";
	pinctrl-0 = <&i2c3a_scl_sda_gpa7_a2>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c4a {
	status = "okay";
	pinctrl-0 = <&i2c4a_scl_sda_gp36_37>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c5a {
	status = "okay";
	pinctrl-0 = <&i2c5a_scl_sda_gp34_35>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c6a {
	status = "disabled";
	pinctrl-0 = <&i2c6a_scl_gp96 &i2c6a_sda_gp97>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c1b {
	status = "disabled";
	pinctrl-0 = <&i2c1b_scl_sda_gp26_25>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&usbd20 {
	status = "okay";
	pinctrl-0 = <&usbdphy_en &usbdphy_clk_external>;
	pinctrl-names = "default";
};

&emac {
	status = "okay";
	pinctrl-0 = <&emac_rmii_en &emac_mdio_en &emac_phy>;
	pinctrl-names = "default";
};

// &spip1 {
// 	pinctrl-0 = <&pspi1_clk_io0_io1_io2_io3_cs_gp66_67_70_73_76_77>;
// 	pinctrl-names = "default";
// 	status = "okay";
// };

&qspi_fiu0 {
	ext_flash: w25q256jv@0 {
		compatible ="nuvoton,nct-nor";
		size = <DT_SIZE_M(32 * 8)>;
		reg = <0>;
		enter-4byte-addr = <0x0>;
		status = "okay";
		quad-enable-requirements = "S2B1v1";
		rd-mode = "NCT_RD_MODE_QUAD";

		/* quad spi bus configuration of nor flash device */
		qspi-flags = <NCT_QSPI_SW_CS1>;
		mapped-addr = <0x70000000>;
		pinctrl-0 = <&fiu0_shd_cs_io0_io1_clk_gp44_45_46_47
			&fiu0_shd_quad_io2_io3_clk_gp55_56>;
		pinctrl-names = "default";
	};
};
 
&qspi_spip {
	ext_flash_spip: w25q256jv@1 {
		compatible ="nuvoton,nct-nor";
		size = <DT_SIZE_M(32 * 8)>;
		reg = <1>;
		enter-4byte-addr = <0x2>;
		status = "okay";
		rd-mode = "NCT_RD_MODE_NORMAL";
 
		qspi-flags = <NCT_QSPI_SW_CS0>;
		pinctrl-0 = < &pspi1_clk_io0_io1_io2_io3_cs_gp66_67_70_73_76_77 >;
		pinctrl-names = "default";
	};
};
 
&qspi_spim {
	int_flash: w25q16@0 {
		compatible ="nuvoton,nct-nor";
		size = <DT_SIZE_M(2 * 8)>;
		status = "okay";
		quad-enable-requirements = "S2B1v1";
		rd-mode = "NCT_RD_MODE_QUAD";
		mapped-addr = <0x00080000>;
		qspi-flags = <NCT_QSPI_SW_CS0>;
   };
};

&timer2 {
	prescaler = <2>;
	status = "okay";
};

&pwm5 {
	pinctrl-0 = <&pwm4_sl_gpa0>;
	pinctrl-names = "default";
	status = "okay";
};

&tach1 {
	pin-select = <NCT_TACH_PIN_SELECT_4>; /* Select tach pin 4 as input pin */
	sample-clk = <NCT_TACH_FREQ_LFCLK>; /* Use LFCLK as sampling clock */
	pulses-per-round = <2>; /* number of pulses per round of encoder */
	pinctrl-0 = <&ta4_sl_gpa1>;
	pinctrl-names = "default";
	status = "okay";
};

&i3c1 {
	i3c-scl-hz = <12500000>;
	i3c-od-scl-hz = <4170000>;
	i2c-scl-hz = <1000000>;
	pinctrl-0 = <&i3c1_scl_sda_gp21_22>;
	pinctrl-names = "default";
	status = "disabled";
};

&i3c2 {
	i3c-scl-hz = <12500000>;
	i3c-od-scl-hz = <4170000>;
	i2c-scl-hz = <1000000>;
	pinctrl-0 = <&i3c2_scl_sda_gp23_24>;
	pinctrl-names = "default";
	status = "disabled";
};

&i3c3 {
	i3c-scl-hz = <12500000>;
	i3c-od-scl-hz = <4170000>;
	i2c-scl-hz = <1000000>;
	pinctrl-0 = <&i3c3_scl_lv_gp26 &i3c3_sda_lv_gp25
			&i3c3_scl_sda_gp26_25>;
	pinctrl-names = "default";
	status = "disabled";
};

&i3c4 {
	i3c-scl-hz = <12500000>;
	i3c-od-scl-hz = <4170000>;
	i2c-scl-hz = <1000000>;
	pinctrl-0 = <&i3c4_scl_sda_gpd0_d1>;
	pinctrl-names = "default";
	status = "disabled";
};

&i3c5 {
	i3c-scl-hz = <12500000>;
	i3c-od-scl-hz = <4170000>;
	i2c-scl-hz = <1000000>;
	pinctrl-0 = <&i3c5_scl_sda_gp82_83>;
	pinctrl-names = "default";
	status = "okay";
};

&i3c6 {
	i3c-scl-hz = <12500000>;
	i3c-od-scl-hz = <4170000>;
	i2c-scl-hz = <1000000>;
	pinctrl-0 = <&tri_state_gp96 &tri_state_gp97
			&i3c6_scl_sda_gp96_97>;
	pinctrl-names = "default";
	status = "okay";
};

&c2h {
	status = "okay";
};

&rtc {
	alarms_count = <1>;
	status = "okay";
};

&gpio0 {
	gpio-line-names = "GPIO00_PinA1","GPIO01_PinB1","GPIO02_PinC1","GPIO03_PinD1",
			"GPIO04_PinE1","GPIO05_PinD2","GPIO06_PinC3","GPIO07_PinD3";
};

&gpio1 {
	gpio-line-names = "GPIO10_PinF4","GPIO11_PinF3","GPIO12_PinG4","GPIO13_PinG3",
			"GPIO14_PinH4","GPIO15_PinH3","GPIO16_PinH2","GPIO17_PinJ4";
};

&gpio2 {
	gpio-line-names = "GPIO20_PinM4","GPIO21_PinL4","GPIO22_PinJ5","GPIO23_PinK4",
			"GPIO24_PinK5","GPIO25_PinL5","GPIO26_PinM5","GPIO27_PinG6";
};

&gpio3 {
	gpio-line-names = "GPIO30_PinJ6","GPIO31_PinK6","GPIO32_PinJ7","GPIO33_PinK7",
			"GPIO34_PinL6","GPIO35_PinM6","GPIO36_PinL7","GPIO37_PinM7";
};

&gpio4 {
	gpio-line-names = "GPIO40_PinM8","GPIO41_PinM9","GPIO42_PinM10","GPIO43_PinM11",
			"GPIO44_PinM12","GPIO45_PinL12","GPIO46_PinK12","GPIO47_PinJ12";
};

&gpio5 {
	gpio-line-names = "GPIO50_PinK8_PSOUT","GPIO51_PinJ8_PSIN","GPIO52_PinL9_PSON","GPIO53_PinL10_SLPS3",
			"GPIO54_PinL11","GPIO55_PinH12","GPIO56_PinG12","GPIO57_PinH10";
};

&gpio6 {
	gpio-line-names = "GPIO60_PinK10","GPIO61_PinK11","GPIO62_PinJ10","GPIO63_PinJ11_ATXPGD",
			"GPIO64_PinH11","GPIO65_PinG9_SLPS5","GPIO66_PinD12","GPIO67_PinC12";

};

&gpio7 {
	gpio-line-names = "GPIO70_PinB12","GPIO71_PinF9_SLPSUS","GPIO72_PinE9_FWRDY","GPIO73_PinA12",
			"GPIO74_PinC11","GPIO75_PinB11","GPIO76_PinA11","GPIO77_PinA10";
};

&gpio8 {
	gpio-line-names = "GPIO80_PinB10","GPIO81_PinC10","GPIO82_PinB9","GPIO83_PinA9",
			"GPIO84_X","GPIO85_X","GPIO86_PinC8","GPIO87_PinF7";
	gpio-reserved-ranges = <4 2>;
};

&gpio9 {
	gpio-line-names = "GPIO90_PinD7","GPIO91_PinC7","GPIO92_PinA6","GPIO93_PinB6",
			"GPIO94_PinC6","GPIO95_PinD6_ATX5VSB","GPIO96_PinA5","GPIO97_PinB5";
};

&gpioa {
	gpio-line-names = "GPIOA0_PinC5","GPIOA1_PinD5","GPIOA2_PinB3","GPIOA3_PinD4",
			"GPIOA4_PinC4","GPIOA5_PinB4","GPIOA6_PinA4","GPIOA7_PinB2";
};

&gpiob {
	gpio-line-names = "GPIOB0_PinC2","GPIOB1_PinF1","GPIOB2_PinE2","GPIOB3_PinF2",
			"GPIOB4_PinE3","GPIOB5_PinE4","GPIOB6_PinL8","GPIOB7_PinG2";
};

&gpioc {
	gpio-line-names = "GPIOC0_PinM2","GPIOC1_PinL2","GPIOC2_PinK2","GPIOC3_PinJ2",
			"GPIOC4_PinM3","GPIOC5_PinL3","GPIOC6_PinK3","GPIOC7_PinJ3";
};

&gpiod {
	gpio-line-names = "GPIOD0_PinG11","GPIOD1_PinF11","GPIOD2_PinG10","GPIOD3_PinF10",
			"GPIOD4_PinE11","GPIOD5_PinD11","GPIOD6_PinE10","GPIOD7_PinD10";
};

&gpioe {
	gpio-line-names = "GPIOE0_PinJ9","GPIOE1_PinK9_DPWROK","GPIOE2_PinH9_PWROK","GPIOE3_PinH5",
			"GPIOE4_PinD9","GPIOE5_PinD8_RSMRST","GPIOE6_PinC9","GPIOE7_X";
	gpio-reserved-ranges = <7 1>;
};

&gpiof {
	gpio-line-names = "GPIOF0_PinB8","GPIOF1_PinA8","GPIOF2_PinB7","GPIOF3_PinA7",
			"GPIOF4_X","GPIOF5_X","GPIOF6_X","GPIOF7_X";
	gpio-reserved-ranges = <4 4>;
};
