# SPDX-License-Identifier: Apache-2.0
# OpenOCD configuration for NCT6694B EVB via Raspberry Pi Debug Probe

source [find interface/cmsis-dap.cfg]
cmsis_dap_vid_pid 0x2e8a 0x000c
transport select swd

set CHIPNAME NCT6694B
source [find target/nct_esio.cfg]
